* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Poppins', /*'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',*/
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Poppins' /*'Courier New'*/,
    monospace;
}

.header {
  position: absolute;
  width: 550px;
  height: 70px;
  left: 0px;
  top: 0px;
  background: #FFFFFF;
  display: flex;
  box-shadow: 0px 2.98256px 7.4564px rgba(0, 0, 0, 0.1);
}

.logo {
  position: absolute;
width: 82.02px;
height: 25.35px;
left: 30px;
top: 22px;

}

/*.thumbnails {
  position: absolute;
  width: 395.91px;
  height: 232px;
  left: 77px;
  top: 96px;
}*/

.thumbnail {
  position: absolute;
  width: 72.31px;
  height: 97.02px;
  object-fit: cover;
  /*width: 100%;*/
}

.title {
  position: absolute;
  width: 347px;
  height: 40px;
  left: 36px;
  top: 360px;
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 110%;
  color: #000000;
  text-align: left;
}

.title__description {
  position: absolute;
  width: 320px;
  height: 56px;
  left: 36px;
  top: 406px;
  font-family: Poppins;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 110%;
  text-align: left;
  color: #222222;
}

.featured {
  position: absolute;
  width: 176px;
  height: 235px;
  left: 37px;
  top: 521px;
  border-radius: 9px;
  text-align: left;
}

.swimmer {
  position: absolute;
  width: 176px;
  height: 58px;
  left: 36px;
  top: 765px;
}

.featuredImgWed {
  position: absolute;
  width: 176px;
  height: 235px;
  left: 425px;
  top: 521px;
  border-radius: 9px;
}

.featuredImgBike {
  position: absolute;
  width: 176px;
  height: 235px;
  left: 231px;
  top: 521px;
  border-radius: 9px;
}