@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

:root {
  --grey: #918E9B;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body,
.app {
  margin: 0 auto;
  font-family: 'Poppins', sans-serif;
  /* -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; */
}

code {
  font-family: 'Poppins', sans-serif;
}

.header {
  /* position: absolute; */
  position: -webkit-sticky;
  position: sticky;
  width: 550px;
  height: 70px;
  left: 0px;
  top: 0px;
  background: #FFFFFF;
  display: flex;
  box-shadow: 0px 2.98256px 7.4564px rgba(0, 0, 0, 0.1);
}

nav {
  overflow-y: scroll;
  max-height: 25em;
  display: flex;
}

.logo {
  position: absolute;
  width: 82.02px;
  height: 25.35px;
  left: 30px;
  top: 22px;
}

.thumbnail {
  padding: .5em;
  /* position: absolute; 
  width: 72.31px;
  height: 97.02px; */
  font-size: .6rem;
  height: 20em;
  width: 30em;
  margin: 0 .5em 0 .5em;
  border-radius: 13px;
  text-align: left;
  /*transition: transform 250ms;*/
}

.nav__text {
  padding-bottom: 3em;
  font-size: 1.2rem;
  color: white;
}

/* .thumbnail:hover,
.thumbnail:focus {
  transform: scale(1.1);
} */

.title {
  margin: 1em auto 1em auto;
  width: 90%;
  /*height: 40px;
  left: 36px;
  top: 360px; */
  font-size: 36px;
  line-height: 110%;
  color: #000000;
  text-align: left;
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  line-height: 3rem;
  letter-spacing: .09rem;
}

.title__description {
  /* position: absolute; 
  width: 90%;
  height: 56px;
  /* left: 36px;
  top: 406px; */
  font-style: normal;
  font-size: 16px;
  line-height: 110%;
  text-align: left;
  color: #222222;
  font-family: 'Poppins', sans-serif;
}

.featuredContainer {
  position: relative;
  /* left: 37px;
  top: 521px; */
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  /* grid-template-columns: 15em 15em;
  grid-template-rows: 1fr 1fr;
  grid-gap: .5em; */

}

/* .featuredContainer > * {
  flex: 1 1 10em;
} */

.featuredCard {
  /* width: 176px;
  height: 235px; */
  width: 12em;
 
  border-radius: 9px;
  text-align: left;
  margin: 0 auto 2em auto;
}

.featuredImg {
  object-fit: cover;
  width: 100%;
  height: 235px;
  border-radius: 9px;
}

.grey {
  color: var(--grey);
}

.strong {
  font-weight: 700;
}

@media(min-width: 800px) {
  .App {
    position: inline-block;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
  }

  .header {
    width: 100vw;
  }

  .featuredContainer {
    position: relative;
    margin: 0 auto;
    width: 90%;
    /* grid-template-columns: 15em 15em 15em 15em 15em;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    grid-gap: .7em; */
  }

  .featuredCard {
    width: 15em;
  }

   .thumbnail {
    width: 40em;
    height: 30em;
  } 
}